footer{
    background: linear-gradient(88deg, rgb(59, 86, 144) 0%,rgb(102, 148, 161) 50%,rgb(59, 86, 144) 100%);
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: rgb(94, 92, 92);
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a {
    padding: 20px;
}

.footer-left {
    float: left;
}

.footer-right {
    float: right;
}